**/*.log
**/._*
**/.DS_Store
**/.gitignore
**/.gitattributes
**/Thumbs.db
**/spec/
.git
.idea
.dockerignore
Dockerfile
docker-compose.yaml
var/
test-report
easy-coding-standard.yml
README.md
webpack.config.js
node_modules
yarn.lock
script
Makefile
make/*
kubernetes
deploy-key.pem
.env
.gitlab-ci.yml
