click==7.1.2
future==0.18.2
Jinja2==2.11.3
joblib==1.0.1
livereload==2.6.3
lunr==0.5.9
Markdown==3.3.4
MarkupSafe==1.1.1
mkdocs==1.1.2
mkdocs-material==7.1.0
mkdocs-material-extensions==1.0.1
mkdocs-same-dir==0.1.0
nltk==3.5
Pygments==2.8.1
pymdown-extensions==8.1.1
PyYAML==5.4.1
regex==2021.4.4
six==1.15.0
tornado==6.1
tqdm==4.59.0
